<!DOCTYPE html>
<html
	lang="en"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body class="my-background">
	<nav th:replace="fragments/commons::navigation"></nav>
	<div class="card-body p-4 p-md-5">
		<h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center text-white">User Registration</h3>
		<form
			th:method="post"
			th:action="@{/user/register}"
			th:object="${userRegisterBindingModel}" class="text-light">
			<div class="row">
				<div class="col-md-6 mb-4">
					<div class="form-outline">
						<label
							class="form-label"
							for="firstName"
							style="margin-left: 0px;">First Name</label>
						<input
							th:field="*{firstName}"
							th:errorclass="bg-danger"
							type="text"
							class="form-control form-control-lg"
							minlength="2"
							maxlength="20"
							required>
						<div
							th:if="${#fields.hasErrors('firstName')}"
							th:errors="*{firstName}"
							class="text-white">Server-side validation.</div>
					</div>
				</div>
				<div class="col-md-6 mb-4">
					<div class="form-outline">
						<label
							class="form-label"
							for="lastName"
							style="margin-left: 0px;">Last Name</label>
						<input
							th:field="*{lastName}"
							th:errorclass="bg-danger"
							type="text"
							class="form-control form-control-lg"
							minlength=""
							maxlength="20"
							required>
						<div
							th:if="${#fields.hasErrors('lastName')}"
							th:errors="*{lastName}"
							class="text-white">Server-side validation.</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mb-4 d-flex align-items-center">
					<div class="form-outline datepicker w-100">
						<label
							for="age"
							class="form-label"
							style="margin-left: 0px;">Age</label>
						<input
							th:field="*{age}"
							th:errorclass="bg-danger"
							type="number"
							min=5
							class="form-control form-control-lg"
							required>
						<div
							th:if="${#fields.hasErrors('age')}"
							th:errors="*{age}"
							class="text-white">Server-side validation.</div>
					</div>
				</div>
				<div class="col-md-6 mb-4">
					<h6 class="mb-2 pb-1">Gender:</h6>
					<div
						th:each="gender : ${T(bg.softuni.ut.model.entity.enums.UserGenderEnum).values()}"
						class="form-check form-check-inline">
						<label
							th:text="${gender}"
							class="form-check-label"> Male </label>
						<input
							th:field="*{gender}"
							th:value="${gender}"
							th:errorclass="bg-danger"
							class="form-check-input"
							type="radio"
							required>
						<div
							th:if="${#fields.hasErrors('gender')}"
							th:errors="*{gender}"
							class="text-white">Server-side validation.</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mb-4 pb-2">
					<div class="form-outline">
						<label
							class="form-label"
							for="email"
							style="margin-left: 0px;">Email</label>
						<input
							th:field="*{email}"
							th:errorclass="bg-danger"
							type="email"
							class="form-control form-control-lg"
							required>
						<div
							th:if="${#fields.hasErrors('email')}"
							th:errors="*{email}"
							class="text-white">Server-side validation.</div>
					</div>
				</div>
				<div class="col-md-6 mb-4 pb-2">
					<div class="form-outline">
						<label
							class="form-label"
							for="phone"
							style="margin-left: 0px;">Phone Number</label>
						<input
							th:field="*{phone}"
							th:errorclass="bg-danger"
							type="tel"
							class="form-control form-control-lg"
							minlength="10"
							maxlength="10">
					</div>
				</div>
				<div class="col-md-6 mb-4 pb-2">
					<div class="form-outline">
						<label
							class="form-label"
							for="password"
							style="margin-left: 0px;">Password</label>
						<input
							th:field="*{password}"
							th:errorclass="bg-danger"
							type="password"
							class="form-control form-control-lg"
							required>
						<div
							th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}"
							class="text-white">Server-side validation.</div>
					</div>
				</div>
				<div class="col-md-6 mb-4 pb-2">
					<div class="form-outline">
						<label
							class="form-label"
							for="confirmPassword"
							style="margin-left: 0px;">Confirm Password</label>
						<input
							th:field="*{confirmPassword}"
							th:errorclass="bg-danger"
							type="password"
							class="form-control form-control-lg"
							required>
						<div
							th:if="${#fields.hasErrors('confirmPassword')}"
							th:errors="*{confirmPassword}"
							class="text-white">Server-side validation.</div>
						<div
							th:if="*{isWrongInput}"
							class="text-danger">Confirm password must be same as password.</div>
					</div>
				</div>
			</div>
			<div class="mt-4 pt-2 text-center">
				<input
					class="btn btn-primary btn-lg"
					type="submit"
					value="Sign in">
			</div>
		</form>
	</div>
</body>
</html>